@import "./mixins.styl";

html {
	height: 100%;
	font-size: 30px;
}

body {
	min-height: 100%;
	overflow: auto;	
	color: #666;
	font-size: px750(28);
}

a {
	text-decoration:none;
	&:active {
		color: #666;
	}
}
